body {
  background-color: rgb(250, 250, 250);
}

.container {
  width: 95% !important;
  max-width: 95%;
  margin: auto;
  justify-content: center;
}

.spin {
  position: absolute;
  top: 49%;
  left: 45%;
}
