body {
  background-color: rgb(250, 250, 250);
}

.container {
  width: 97% !important;
  max-width: 97%;
  margin: auto;
  justify-content: center;
}

.spin {
  position: absolute;
  top: 49%;
  left: 49%;
}

.tableContainer {
  overflow: auto;
  height: 420px;
}

@media (min-width: 992px) {
  .tableContainer {
    height: calc(45vw / 2);
  }
}
.row {
  margin: 0;
}
